<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="jumbotron">
            <div class="container" style="position: absolute;top: 100px;">
                <h1 class="display-3">Être Parmis Nous!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout
                    called a jumbotron and three supporting pieces of content. Use it as a starting point to create
                    something more unique.</p>
                <p><a routerLink="/condidat_form"role="button">Postuler</a>
                    <a href="#" role="button" style="vertical-align:middle"><span>Details</span></a>
                </p>
            </div>
        </div>
    </div>

</main>